.image-1
{
    width: 80%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.name
{
    font-style: italic;
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text
{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.promotion-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
}

.promotion-card img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.promotion-card .details {
    flex-grow: 1;
}

.promotion-card h2 {
    margin-top: 0;
}

.promotion-card p {
    margin: 10px 0;
}

.promotion-card .button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
